body{
    background-color: #05aec4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to left, #0b7682, #002050, #006673);
    min-height: 100vh;
}

.container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.game-box {
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none;
color: black;
}

.game-box p {
margin-top: 5px;
font-size: 16px;
}

.idk {
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center; 
align-items: center;
gap: 20px;
}